.container{
    display: grid;
    grid-template-columns:  1fr 3fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap:  30px;
    
}

body {
    background-color: #98FF98;
    margin:0
    
}

footer{
    grid-column: span 3;
    text-align: center;
    padding:10px;
    background-color: #eee;
}

.assignment-table{
    border:1px solid black;
    width: 200px;
    border-collapse: collapse;
    right: 200px;
}

.assignment-table td{
    height:50px;
    border: 1px solid black;
    padding: 5px;
    left: 200px;
}


img{
    width: 150px;
    height:150px;
    left: 205px;
    right:525px;

}

header{
    grid-column: span 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darksalmon;
    text-align: left;
    padding: 8px 
}

.left_nav{
    padding:30px;
    border-right: 1px solid #ddd
}


.right_nav{
    padding:30px;
    border-right: 1px solid #ddd
}

content{
    background-image:url('windows_xp.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    color:#333
}